@charset "utf-8";
/* CSS Document */
.app-menu > ul {
	display: flex;
	width: 100%;
	background: black;
	position: fixed;
	bottom: 0;
	z-index: 3000;
	height: 7vh;
	
	
}

.menu-item	{
	flex: 1 1 100%;
	list-style: none;
	padding: 15px 8px;
	text-align: center;
	align-content: center;
	font-size: 16px;
	color:white;
	background-color: black;
	font-weight: bold;
}

menu-item:active {
	border-top:medium,#3B01FF
}

.grey	{
	background-color: gray;
}

.black	{
	background-color: #000;
}

.search-button	{
	z-index: 4000;
}
.search-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	
}
.search-svg__path {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
}

.content-grid	{
	display: grid;
}